config.log

*.o
*.a
*.exe

*.dSYM

Makefile

man/*.3t
port/install.sh

tools/*
!tools/*.c
!tools/*.h
!tools/Makefile.in
!tools/Makefile.lcc

port.h

libtiff/mkg3states
libtiff/version.h
libtiff/tif_fax3sm.c
